{% load static %}

<section class="header-section">
  <div class="container">
    <div class="col-6">
      <div class="logo">
        <span>GEMINI CHATBOT</span>
      </div>
    </div>
    <div class="col-6">
      <div class="btn login">
        {% if request.user.is_authenticated %}
        <a href="/logout"
          ><i class="fa fa-solid fa-power-off" title="logout"></i
        ></a>
        {% else %}
        <a href="/login"
          ><i class="fa-solid fa-arrow-right-to-bracket" title="login"></i
        ></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
